VITE_APP_GTM_KEY=

VITE_APP_INCLUDE_DEMOS=

VITE_APP_ROUTER_MODE_HISTORY=

VITE_APP_BUILD_VERSION=

## This is your backend, it should be on the same host
## For docker deployment this would need to change
## Use the /api prefix to perform a rewrite and set up CORS security
VITE_API_URL=http://localhost:3000/api